# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Project data
data/raw/*
data/processed/*
# Generated inundation rasters
outputs/inundation/*.tif

# Keep empty data directories in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db